body {
    text-align: center;
    /* centra todo el contedo */
    margin: 0px;
    padding: 0px;
    /** fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

:root {
    --height-nav: 46px;
    --width-nav: 2px;
    --font-size-nav: 20px;
    --padding-top-item: 7px;
    --padding-booton-item: 0px;
    --width-item: 200px;
    /** colors **/
    --my-red: red;
    --my-blue: blue;
    --my-green: aquamarine;
    --my-green-border: #61dafb;
}

.ul-container {
    margin-top: 0px;
    background: white;
    border-bottom: 3px solid var(--my-green-border);
    border-top: 3px solid var(--my-green-border);
    display: flex;
    flex-direction: row;  /* row -> los deja en eje x , column los pasa al eje y */
    flex-wrap: wrap; /* cuando los elementos no caben los tira hacia abajo*/
}


.li-item {
    font-size: var(--font-size-nav);
    padding-top: var(--padding-top-item);
    height: var(--height-nav);
    width: var(--width-item);
    flex-grow: 1;
    list-style: none;
    display: inline-block;
}

.li-item a {
    text-decoration: none;
    color: #444;
    transform: 300ms all;
}

.li-item a:hover {
    color: #40c0e4;
}

.img-logo {
    border-radius: 3em;
    padding: 0px;
    margin: 0px;
    width: 55px;
    animation: girar infinite 30s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-logo {
    padding: 0px;
    align-items: start;
    display: flex;
}


.text-logo {
    padding-top: var(--padding-top-item) !important;
}

.bg-red {
    background-color: var(--my-red);
}

.bg-blue {
    background-color: var(--my-blue);
}

.bg-green {
    background-color: var(--my-green);
}